@import 'function';

%container{
    padding: 0 pxToRem(15);
    margin-right: auto;
    margin-left: auto;
}

%spaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}