$base-size:16;
$text-white:#eeecec;
$text-dark:#161616;
$bg-dark:#161616;
$bg-white:#eeecec;
$text-orange:#f5a700;

$max-width-sm: 540px;
$max-width-md: 720px;
$max-width-lg: 960px;
$max-width-xl: 1140px;
$max-width-xxl: 1320px;

$breakpoints-xs: 0;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;
