$base-size:16;
$text-white:#f8f8f8;
$text-dark:#1f1f1f;
$bg-dark:#161616;
$bg-white:#f8f8f8;
$text-orange:#f5a700;
$bg-orange:#f5a700;
$text-blue:#4683dd;
$bg-blue:#4b7fcc;

$max-width-sm: 540px;
$max-width-md: 720px;
$max-width-lg: 960px;
$max-width-xl: 1140px;
$max-width-xxl: 1320px;

$breakpoints-xs: 0;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;
