@import 'expend';
@import 'function';
@import 'mixin';
@import 'variable';

*{margin: 0;padding: 0; font-family: 'Kalam', cursive;}
a{text-decoration: none;}
li{list-style: none;}
nav{
    height: pxToRem(100);
    padding: pxToRem(10) pxToRem(15);
    display:flex;
    align-items: center;
}

.container{
    @extend %paddingContainer;
    width: 100%;
    &-fluid{
        @extend %paddingContainer;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
}
.navbar{
    @extend %spaceB;
    .navbar-list{
        @extend %spaceB;
        .nav-item{
            color: $text-dark;
            font-size: 22px;
            margin: 10px 15px;
            &:hover{
                color: $text-orange;
            }
        }
    }
    .navbar-brand{
        color: $text-dark;
        font-size: 50px;
        .brand-point-color{
            color: $text-orange;
        }
    }
}
