@import 'expend';
@import 'function';
@import 'variable';
@import 'mixin';

*{margin: 0;padding: 0; font-family: 'arial', sans-serif;}
a{text-decoration: none;}
li{list-style: none;}
h2{text-transform: uppercase;font-size: pxToRem(25);}
p{font-size: pxToRem(15);}
#nav{height: pxToRem(100);padding: pxToRem(10) pxToRem(15);display:flex;align-items: center;}
#circuits{background-color: #efefef; padding: pxToRem(40) pxToRem(10) ; }
#destinations{padding: pxToRem(40) pxToRem(10) ; }
#footer{background: #444;}

.container{
    @include container(100%,100%);
    &-fluid{
        @include container(100%,100%);
        flex-direction: column;
        @include for-size(md){
            flex-direction: row;
            @include container(100%,100%);
        };
        @include for-size(xxl){
            flex-direction: row;
            @include container(60%,100%);
        };
    }
}
.navbar{
    @include for-size(md){   
        display: flex;
        justify-content: space-between;
        align-items: center;
    };
    .navbar-list{
        display: flex;
        justify-content: center;
        .nav-item{
            font-family: 'Kalam', cursive;
            color: $text-dark;
            font-size: pxToRem(20);
            margin: pxToRem(5) pxToRem(2);
            @include for-size(lg){
                font-size: pxToRem(22);
                margin: pxToRem(10) pxToRem(15);
            };
            &:hover{
                color: $text-orange;
            }
        }
    }
    .navbar-brand{
        display: block;
        text-align: center;
        font-family: 'Kalam', cursive;
        color: $text-dark;
        font-size: pxToRem(40);
        @include for-size(lg){
            font-size: pxToRem(50);
        };
        .brand-point-color{
            color: $text-orange;
        }
    }
}

.grid-container{
    display: grid;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.text-center{
    text-align: center;
}
.img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &-main{
        height: pxToRem(380);
        @include for-size(md){
            height: pxToRem(580);
        }
        background-image: url(../../dist/img/main.jpg);
    }
    &-art1{
        @include for-size(sm){
            background-image: url(../../dist/img/article-image-1.jpg);
        }
    }
    &-art2{
        @include for-size(sm){
            background-image: url(../../dist/img/article-image-2.jpg);
        }
    }
}

.btn{
    border-radius: pxToRem(8);
    padding: pxToRem(4) pxToRem(10);
    font-size: pxToRem(18);
    &-blue{
        border: pxToRem(1.5) solid #000;
        @include btn($bg-blue,$text-white);
        margin: 0 auto;
    }
    &-orange{
        border: pxToRem(1.5) solid $no-color;
        height: pxToRem(40);
        margin-left: pxToRem(20);
        @include btn($no-color,$no-color);
    }
}
.titre1{
    margin: pxToRem(20) pxToRem(30) pxToRem(40) pxToRem(30);
    font-size: pxToRem(40);
    font-weight: 300;
    color: $text-dark;
    line-height: pxToRem(80);
    @include for-size(md){
        margin: pxToRem(20) pxToRem(30) pxToRem(60) pxToRem(30);
        font-size: pxToRem(70);
    }
}

[class*="grid-column-"] {
    padding: pxToRem(15);
    display: grid;
    justify-content:center; 
}

.grid-column-1{grid-template-columns: auto; }  
.grid-column-2{grid-template-columns: auto auto; }  
.grid-column-3{grid-template-columns: auto auto auto; }  
.grid-column-4{grid-template-columns: auto auto auto auto; }  
.grid-column-5{grid-template-columns: auto auto auto auto auto; } 

@include for-size(lg){
.grid-column-lg-1{grid-template-columns: auto; }  
.grid-column-lg-2{grid-template-columns: auto auto; }  
.grid-column-lg-3{grid-template-columns: auto auto auto; }  
.grid-column-lg-4{grid-template-columns: auto auto auto auto; }  
.grid-column-lg-5{grid-template-columns: auto auto auto auto auto; }  
}

@include for-size(md){
.grid-column-md-1{grid-template-columns: auto; }  
.grid-column-md-2{grid-template-columns: auto auto; }  
.grid-column-md-3{grid-template-columns: auto auto auto; }  
.grid-column-md-4{grid-template-columns: auto auto auto auto; }  
.grid-column-md-5{grid-template-columns: auto auto auto auto auto; }  
}

[class*="grid-row-"] {
    padding: pxToRem(15);
    display: grid;
    align-content:space-between;
}

.grid-row-1{grid-template-rows: auto; }  
.grid-row-2{grid-template-rows: auto auto; }  
.grid-row-3{grid-template-rows: auto auto auto; }  
.grid-row-4{grid-template-rows: auto auto auto auto; }  
.grid-row-5{grid-template-rows: auto auto auto auto auto; } 

.grid-item-1{ grid-area: 1 / 1 / span 1 / span 1;}  
.grid-item-2{ grid-area: 2 / 1 / span 2 / span 1;}  
.grid-item-3{ grid-area: 4 / 1 / span 1 / span 1;}  


.card{
    text-align: center;
    margin: pxToRem(20) 0;
    overflow: hidden;
    &-circuit{
        height: pxToRem(270) ;
        border-radius: pxToRem(15);
        margin-left: 0;
        width: 200px ;
        @include for-size(sm){
            width:pxToRem(460) ;
            margin-left: pxToRem(20);
        }
    }
    &-dest{
        margin: 0 pxToRem(20);
        width: pxToRem(150);
        @include for-size(md){
            margin: 0 pxToRem(40);
            width: pxToRem(150);
        }
        @include for-size(lg){
            margin: 0 pxToRem(10);
            width: pxToRem(300);
        }
        @include for-size(xl){
            margin: 0 pxToRem(30);
            width: pxToRem(300);
        }
    }
    &-left{
        width: auto;
        @include for-size(sm){
            width: 35% ;
        }
        height: 100%;
        padding: pxToRem(0) pxToRem(15);
        background-color: $bg-white;
        opacity: 0.92;
        .card-titre{
            margin-top: pxToRem(15);
            padding-bottom: pxToRem(20);
            border-bottom: 1px solid $line-dark-opacity  ;
        }
        .card-text{
            opacity: 0.5;
            line-height: pxToRem(25);
        }
        .btn-blue{
            margin-bottom: pxToRem(10);
        }
    }
    &-img{
        width: 40% ;
        @include for-size(md){
            width: 55% ;
        }
        @include for-size(lg){
            width: 30% ;
        }
        margin: pxToRem(20);
    }
    &-text{
        margin: pxToRem(15) 0;
        opacity: 0.6;
    }
}

.contact{
    text-align: center;
    padding: pxToRem(40) pxToRem(10);
    &-titre{
        width: 100%;
        @include for-size(md){
            width: 40%;
        }
        @include for-size(lg){
            width: 30%;
        }
        margin: 0 auto;
        padding-bottom: pxToRem(20);
        border-bottom: 1px solid $line-blue;
        color: $text-dark;
    }
    &-text{
        margin: 0 auto;
        width: 70%;
        padding: pxToRem(25);
        opacity: 0.8;
    }
    &-label{
        margin: pxToRem(4) pxToRem(18) ;
        font-size: pxToRem(19);
        @include for-size(md){
            margin: pxToRem(10) pxToRem(18) ;
            font-size: pxToRem(22);
        }
        font-weight: 700;
        opacity: 0.65;
    }
    &-input{
        font-size: pxToRem(15);
        margin: pxToRem(3) auto;
        padding: pxToRem(5);
        width: 70%;
        @include for-size(sm){
            width: 50%;
            font-size: pxToRem(18);
            margin: pxToRem(5) auto;
        }
        @include for-size(md){
            width: auto;
            font-size: pxToRem(18);
            margin: pxToRem(5);
        }
        font-weight: 400;
        &::placeholder{
            opacity: 0.35;
        }
    }
    &-submit{
        margin-top: pxToRem(15);
        @include for-size(md){
            margin-top: pxToRem(0);
            margin-left: pxToRem(15);
        }
        color: $text-orange;
        border: none;
        background-color: $no-color;
        cursor: pointer;
        
    }
    &-form{
        flex-direction: column;
        @include for-size(md){
            flex-direction: row;
        }
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

.footer{
    padding: pxToRem(20);
    @include for-size(md){
        padding: pxToRem(50);
    }
    &-titre{
        text-align: center;
        color: $text-white;
        font-size: pxToRem(40);
        margin-bottom: pxToRem(25);
        .color-point-orange{
            color: $text-orange;
        }
    }
    &-text{
        text-align: center;
        color: #777;
    }
}



