@import 'expend';
@import 'function';
@import 'mixin';
@import 'variable';

*{margin: 0;padding: 0; font-family: 'Kalam', cursive;}
a{text-decoration: none;}
li{list-style: none;}
nav{
    height: pxToRem(100);
    padding: pxToRem(10) pxToRem(15);
    display:flex;
    align-items: center;
}

.container{
    @include container(100%,100%);
    &-fluid{
        @include container(50%,100%);
    }
}


.navbar{
    @extend %spaceBetween;
    .navbar-list{
        @extend %spaceBetween;
        .nav-item{
            color: $text-dark;
            font-size: pxToRem(22);
            margin: pxToRem(10) pxToRem(15);
            &:hover{
                color: $text-orange;
            }
        }
    }
    .navbar-brand{
        color: $text-dark;
        font-size: pxToRem(50);
        .brand-point-color{
            color: $text-orange;
        }
    }
}
